extends _base

block content
    p Simpkey は、JavaScript のいらない Misskey クライアントです。
    p: a(href="https://github.com/xeltica/simpkey", target="_blank", rel="noopener noreferrer") リポジトリを見る
    h2 バージョン #{version}
    ul
    each val in changelog
        li= val