extends _base

block content
    h2 ヘルプ
    p Simpkey を使う上でよく聞かれそうな質問をまとめて回答する、なんとまあえらいページです
    h3 タイムラインが止まってる気がする
    p Simpkey はリアルタイムでタイムラインが動きません。投稿やリアクションをしたときのように、ページが再読込されないと最新のタイムラインが表示されないのです。
    p ホーム ローカル などのボタンを手動で押すことでタイムラインを読み直すことができるはずなのでそれでお願いします。
        span(style="font-size: 0.8em; opacity: 0.4") 昔は手動リロードが当たり前だったんじゃよ（老害）
    h3 CW って何？
    p ノートの本文を隠す機能です。注釈を添えることができるので、ちょっとキツい話をする上での注意書きとか、袋とじとか、一発ギャグとかに使ってください。
    p なお、注釈欄を埋めても CW のチェックボックスを切っていると適用されないので、くれぐれも確認を忘れないように
    h3 ハッシュタグが「ページが見つかりませんでした」と表示される
    p 未実装なんです。ごめんなさい
    h3 ノートの時間の前についている絵文字は何？
    p ノートの公開範囲を表すマークです。それぞれ次のような意味があります。
    ul
        li 🌐 - パブリック。誰でも見られる公開範囲
        li 🏠 - ホーム。投稿主のフォロワーのタイムラインと、自分のユーザーページにのみ表示されます。
        li 🔒 - フォロワー。投稿主のフォロワーのタイムラインにのみ表示されます。
        li ✉️ - ダイレクト。指定した人のタイムラインにのみ表示されます。つまりあなた宛ということです。
        li ❓ - 不明。Groundpolis など、特殊仕様の Misskey インスタンスにログインしていると見られるかもしれません。
        li ☣ - ローカル限定。同じホストの人だけが見られる投稿です。
    h3 Simpkey という名前の由来は？
    p Simple + Misskey
    h3 その他
    p その他困ったことがあったら @ebi@misskey.io 宛にメンションで質問すれば答えます