extends _base

block content
    h2 利用規約
    p 本サイトの利用規約を以下に示します。本サイトのサービスをご利用いただいた時点で、自動的に本規約に同意したものとみなされます。

    h3 禁止行為
    p 以下に定める行為は固く禁じます。
    ul
        li サーバーに意図的に過大な負荷を掛ける行為
        li サーバーソフトウェアの脆弱性を意図的に突くことによって不正なデータを生成したり、システムの一部または全部を使用できなくするといった迷惑行為
        li 接続先のサーバーの利用規約に反する行為
        li その他、運営が不適切と認める行為
    p 利用規約に反した場合、お使いのIPアドレスからのアクセスを禁止、悪質であればプロバイダーへの通報を行います。