extends _base

block header
    +nav

block content
    +avatar(user)
    p: b=getUserName(user)
        | &nbsp;
        span(style="color: gray")= getAcct(user)
    +post-form("/action/create-note", "今なにしてる？", "ノート")
    hr
    h2= timelineName
    each note in timeline
        hr
        +note(note)